<div class="text-center">
  <h1>Bandspace bookings for <%= @bandspace.name %></h1>
  <br>
    <%= link_to "Book this space!", new_band_space_booking_path %>
  <br>

  <%# we want to display all the bookings of a specific venu %>

  <%# we need to access the all the bookings of a specific venu %>
  <h2>The number of bookings are: <%= @bookings.count %></h2>
  <% @bandspace.bookings.each do |booking| %>
    <p><%= booking.id %>. <%= @bandspace.user.username %> </p>
  <% end %>





</div>
