<div class="container col-9">
  <div class="header">
    <h1> My bookings </h1>
  </div>

  <% if @bookings.empty? %>
    <div class="body-container">
      <h3> You haven't made any bookings yet </h3>
    </div>
  <% else %>
    <div class="body-container">
      <% @bookings.each do |booking| %>
        <div class="card-product d-flex justify-content-between">
          <div class="d-flex">
            <div>
              <% if booking.band_space.photo_url.key %>
                <%=  cl_image_tag booking.band_space.photo_url.key, height: 300, width: 400, crop: :fill, class: "image" %>
              <% else  %>
                <img src=<%= booking.band_space.photo_url.record[:photo_url]%> style="height: 120;width: 120"%>
              <% end %>
            </div>
            <div class="card-product-infos d-flex flex-column justify-content-center">
              <h2> <%= booking.band_space.name %></h2>
              <p> <strong> <%= booking.date %> </strong> <p>
            </div>
          </div>
          <div>
            <%= link_to "See info", booking_path(booking), class: "btn btn-flat" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
