
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);">
  <div class="container">
    <h1>Find your ideal pratice space!</h1>
    <p>Browse thounsands of spaces uploaded by those in our community.</p>
    <%= link_to "Browse band spaces", band_spaces_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container m-3">
<div class="col-12 d-flex justify-content-center">
    <div class="row d-flex justify-content-evenly">
          <% @bandspaces.reverse.each do |bandspace| %>
            <div class="card" style="width: 18rem;">
            <% if bandspace.photo_url.key %>
              <%= cl_image_tag bandspace.photo_url.key, class: "card-img-top" %>
            <% else %>
              <img src="<%= bandspace.photo_url.record[:photo_url] %>" class="card-img-top" alt="...">
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to bandspace.name, band_space_path(bandspace), class: "text-decoration-none" %></h5>
              <p class="card-text"><%= bandspace.address %></p>
              <p class="card-text"> <strong>£ <%= bandspace.price%> </strong></p>
              <% if bandspace.rating == nil %>
                <p class="card-text"> <strong> No ratings </strong></p>
              <% else %>
                <p class="card-text"> <strong> <%= bandspace.rating%> / 5 </strong></p>
              <% end %>
            </div>
          </div>
          <% end  %>
        </div>
      </div>
    </div>
</div>
