<div class="container">
  <%= simple_form_for [@bandspace] do |f| %>
    <%= f.input :photo_url, as: :file %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :capacity , as: :numeric, input_html:{ min:"0"} %>
    <%= f.input :price, as: :currency, currency: "£" %>
    <%= f.submit "Submit Bandspace", class: "btn btn-flat" %>
  <% end %>
</div>
