<div class="container col-9">
  <div>
    <div class="page-title">
      <h1> Bandspaces </h1>
      <br>
        <%= link_to "Add bandspace", new_band_space_path %>
      <br>
    </div>
    <div class="row d-flex justify-content-evenly">
      <% @bandspaces.reverse.each do |bandspace| %>
        <div class="card" style="width: 18rem;">
        <% if bandspace.photo_url.key %>
          <%= cl_image_tag bandspace.photo_url.key, class: "card-img-top" %>
        <% else %>
          <img src="<%= bandspace.photo_url.record[:photo_url] %>" class="card-img-top" alt="...">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to bandspace.name, band_space_path(bandspace), class: "text-decoration-none" %></h5>
          <p class="card-text"><%= bandspace.address %></p>
          <p class="card-text"> <strong>£ <%= bandspace.price%> </strong></p>
          <% if bandspace.rating == nil %>
            <p class="card-text"> <strong> No ratings </strong></p>
          <% else %>
            <p class="card-text"> <strong> <%= bandspace.rating%> / 5 </strong></p>
          <% end %>
        </div>
      </div>
      <% end  %>
    </div>
  </div>
</div>
<div class="page-end">
</div>
