<div class="container bandspace d-flex flex-column">
  <h2> <%= @bandspace.name %> </h2>
  <div class=" d-flex host-capacity-price">
      <p> Hosted by: <strong><%= @bandspace.user.username %> </strong> </p>
      <p> <i class="fa-sharp fa-solid fa-people-group"></i> Capacity: <strong><%= @bandspace.capacity %></strong></p>
  </div>

  <% if @bandspace.photo_url.key %>
    <%=  cl_image_tag @bandspace.photo_url.key, height: 500 , width: 1000, crop: :fill, class: "image" %>
  <% else  %>
  <img src=<%= @bandspace.photo_url.record[:photo_url]%> style="height: 300;width: 400" class="image">
  <% end %>

  <div class="address-descrip">
  <%#  link_to "Book this space", new_band_space_booking_path(@bandspace) %>
  <div class="make-a-booking">
    <div class="form-label-price d-flex justify-content-between">
      <h3>Date</h3>
      <p><strong>£<%= @bandspace.price %></strong> per day </p>
    </div>

    <div class="booking-form my-1">
      <%= render :partial => '/bookings/form'%>
    </div>
  </div>
    <p> <%= @bandspace.address %> </p>
    <p> <%= @bandspace.description %> </p>
  </div>
  <% if @bandspace.user == current_user %>
    <div class="links d-flex">
  <% else %>
    <div class="links d-none">
  <% end %>
    <%= link_to "Edit Bandspace", edit_band_space_path %>
    <%= link_to "Delete Bandspace", band_space_path(@bandspace), data: { turbo_method: :delete} %>
  </div>

    <%= link_to "Back to Bandspaces", band_spaces_path %>

  <div class="container">
    <%# = link_to "Leave a review", new_band_space_review_path(@bandspace.id) %>
    <% if @bandspace.user == current_user %>
    <div class="d-none">
    <% else %>
    <div>
    <% end %>
    <%= render :partial => '/reviews/form'%>
    </div>
    <% @bandspace.reviews.each do |review| %>
      <div class="review-card">
        <h3> <%= review.title %></h3>
        <p> <%= review.rating %> / 5 </p>
        <p> <%= review.body %> </p>
        <p><%= review.user.email %></p>
      </div>
    <% end %>
  </div>
</div>
<div class="page-end"></div>
