<div class="container bandspace d-flex flex-column">
  <h2> <%= @bandspace.name %> </h2>
  <div class=" d-flex host-capacity-price">
      <p> Hosted by: <strong><%= @bandspace.user.username %> </strong> </p>
      <p> <i class="fa-sharp fa-solid fa-people-group"></i> Capacity: <strong><%= @bandspace.capacity %></strong></p>
  </div>

  <% if @bandspace.photo_url.key %>
    <%=  cl_image_tag @bandspace.photo_url.key, height: 500 , width: 1000, crop: :fill, class: "image" %>
  <% else  %>
  <img src=<%= @bandspace.photo_url.record[:photo_url]%> style="height: 300;width: 400" class="image">
  <% end %>

  <div class="info-and-booking d-flex justify-content-between col-9">
    <div class="description">
      <p> <%= @bandspace.address %> </p>
      <p> <%= @bandspace.description %> </p>
      <% if @bandspace.user == current_user %>
        <div class="links d-flex">
      <% else %>
        <div class="links d-none">
      <% end %>
        <%= link_to "Edit Bandspace", edit_band_space_path %>
        <%= link_to "Delete Bandspace", band_space_path(@bandspace), data: { turbo_method: :delete} %>
      </div>
    <div class="backspace">
      <%= link_to "Back to Bandspaces", band_spaces_path, class: "btn btn-flat" %>
    </div>
    </div>
    <div class="booking">
      <div class="make-a-booking">
        <div class="form-label-price d-flex justify-content-between">
          <h3>Date</h3>
          <p><strong>£<%= @bandspace.price %></strong> per day </p>
        </div>
        <div class="booking-form my-1">
          <%= render :partial => '/bookings/form'%>
        </div>
      </div>
  </div>
  </div>

  <div class="container">
    <%# = link_to "Leave a review", new_band_space_review_path(@bandspace.id) %>
    <% if @bandspace.user == current_user %>
    <div class="d-none">
    <% else %>
    <div data-controller="visibility">
    <button class="btn btn-flat" data-visibility-target="button" data-action="visibility#toggleTargets">
    <span data-visibility-target="span"> Write </span> a review </button>
    <div id="new-review-form" data-visibility-target="hideable" hidden>
    <% end %>
    <%= render :partial => '/reviews/form'%>
    </div>
    <% @bandspace.reviews.each do |review| %>
    <div class="review-card">
      <p> <i class="fa-solid fa-user"></i> <%= review.user.username %></p>
      <div class="d-flex justify-content-between ">
        <h4> <%= review.title %></h3>
        <p> <i class="fa-solid fa-star"></i> <%= review.rating %> / 5 </p>
      </div>
      <p> <%= review.body %> </p>
    </div>
    <% end %>
  </div>
</div>
<div class="page-end"></div>

<%# <div class="card-product d-flex justify-content-between">
          <div class="d-flex">
            <div>
               if booking.band_space.photo_url.key
                =  cl_image_tag booking.band_space.photo_url.key, height: 300, width: 400, crop: :fill, class: "image"
               else
                <img src== booking.band_space.photo_url.record[:photo_url] style="height: 120;width: 120"
               end
            </div>
            <div class="card-product-infos d-flex flex-column justify-content-center">
              <h2> = booking.band_space.name </h2>
              <p> <strong> = booking.date  </strong> <p>
            </div>
          </div>
          <div>
            = link_to "See info", booking_path(booking), class: "btn btn-flat"
          </div>
        </div> %>
