<!DOCTYPE html>
<html>
  <head>
    <title>BandSpaces</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if user_signed_in?  %>
      <%= render "layouts/navbarlivesession" %>
    <% else %>
      <%= render "layouts/navbar" %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="body-container">
      <%= yield %>
    </div>
    <div class="make-footer">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
